# dependencies
node_modules

# builds
dist
build
coverage

# env
.env
.env.local
.env.development
.env.production
.env.docker.development
.env.docker.production

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# pnpm
.pnpm-store
.pnpm
.cache
.turbo

# vscode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# AI memory
.ai/

#Project Specific Rules
.windsurf

#Project Memory
PROJECT_MEMORY.md
.vercel
.env*.local
